*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Droid";
  src: url("DroidSerif-Regular.ttf");
}

@font-face {
  font-family: "GreatVibes";
  src: url("GreatVibes-Regular.ttf");
}

:root{
  --branco: #F1F2F1;
  --vermelho: #781D00;
  --verde: #026736;
  --preto: #000000;
}

body{
  background-color: var(--branco);
}

html{
  scroll-behavior: smooth;
}

:target{
  scroll-margin-top: .8em;
}

  .MenuPc{
    display: none;
  } /* Barra de nav do Desktop */

.MenuMobile{
  display: block;
  display: flex;
  justify-content: right;
  align-items: end;
  flex-direction: column;
  gap: 5px;
  height: 80px;
} /* Barra de nav do Mobile */

.logo{
  width: 60px;
} /* Logo do restaurante */

.divLogo{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-right: 5px;
} /* Div da Logo e icone do Menu Mobile do restaurante */

ul  li.MenuItemMobile{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-top: var(--branco) 1px solid;
  height: 60px;
  width: 100vw;
} /* Div do Menu Mobile do restaurante */

span{
  font-size: 28px;
  position: fixed;
  top: 15px;
  right: 15px;
}

.iconMedia{
  margin: 5px;
  width: 40px;
} /* Icone redes sociais*/

#divSideMenu{
    display: none;
    position: fixed;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    gap: 20px;
    padding-top: 30px;
    background-color: var(--verde);
    transition: 0.2s ease-in-out;
} /* Div do Menu Side Bar */


a{
  text-decoration: none;
  font-family: 'GreatVibes';
  color: var(--branco);
  font-size: 30px;
} /* Link Menu */

#logoHome{
  width: 50%;
} /* Logo do restaurante da página inicial*/

.icone{
  width: 30px;
} /* Icone do Menu Mobile */

#frameHome{
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("imagens/pizzaHome.png");
  background-size: cover;
} /* Página Inicial do site */

#frameInicio{
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 15px;

} /* Frame de Inicio (Nossa Essência) */

#frameInicioContent{
  width: 65vw;
  padding: 10px 10px 10px 0;
  align-items: flex-end;
} /* Conteudo do frame de Inicio (Nossa Essência) */

h1{
  margin: 10px;
  font-family: 'GreatVibes';
  font-size: 30px;
  color: var(--preto);
  font-weight: 500;
} /* Titulo do frame de Inicio (Nossa Essência) */

div#frameInicioContent p{
  font-family: 'Droid';
  font-size: 12px;
  color: var(--preto);
} /* Paragrafo do frame de Inicio (Nossa Essência) */

#bruschetta{
  width: 230px;
  position: absolute;
  top: 510px;
  left: -60px;
  z-index: 1;
} /* Imagem do Inicio (Bruschetta) */

#vinho{
  height: 220px;
  position: absolute;
  top: 735px;
  right: 0;
  z-index: 1;
} /* Imagem do Inicio (Vinho) */


#frameCardapio{
  background-color: var(--vermelho);
  height: 400px;
  display: flex;
  align-items: center;
} /* Frame do Cardapio (Cardapio Executivo) */

#frameCardapioConteudo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
} /* Frame do Conteudo do Cardapio (Cardapio Executivo) */

#frameCardapioTextos{
  width: 65vw;
  padding: 10px 10px 10px 0;
  height: 200px;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
} /* Div dos textos do Conteudo do Cardapio (Cardapio Executivo) */

div#frameCardapioTextos h2{
  font-family: 'GreatVibes';
  font-size: 30px;
  color: var(--branco);
  font-weight: 500;
  width: fit-content;
  margin: 10px;
} /* Titulo do Conteudo do Cardapio (Cardapio Executivo) */

div#frameCardapioTextos p{
  font-family: 'Droid';
  font-size: 12px;
  color: var(--branco);
} /* Paragrafo de Conteudo do Cardapio (Cardapio Executivo) */

#botaoCardapio{
  width: 100px;
  height: 40px;
  z-index: 2;
  font-size: 20px;
  font-family: 'GreatVibes';
  color: var(--branco);
  background-color: var(--verde);
  box-shadow: var(--preto) 4px 4px 0 0;
  border: none;
} /* Botao para pagina de Cardapio (Cardapio Executivo) */

#botaoCardapio:active{
  box-shadow: var(--preto) 2px 2px 0 0;
  transform: translateY(2px) translateX(2px);
} /* Animação botão Cardapio (Cardapio Executivo) */

#ravioli{
  width: 360px;
  position: absolute;
  top: 870px;
  left: -120px;
  z-index: 1;
} /* Imagem do Inicio (Ravioli) */

#frameReserva{
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: right;
  margin-bottom: 15px;
} /* Frame de Reservas */

#frameReservaConteudo{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 15px;
} /* Frame do Conteudo da Reserva (Reserva) */

#frameReservaTexto{
  width: 65vw;
  padding: 10px 10px 10px 0;
  display: flex;
  justify-content: right;
  align-items: start;
  flex-direction: column;
} /* Frame dos textos do Conteudo da Reserva (Reserva) */

div#frameReservaTexto h2{
  margin: 10px;
  font-family: 'GreatVibes';
  font-size: 30px;
  color: var(--preto);
  font-weight: 500;
} /* Frame do titulo da Reserva (Reserva) */

div#frameReservaTexto p{
  font-family: 'Droid';
  font-size: 12px;
  color: var(--preto);
} /* Frame do paragrafo da Reserva (Reserva) */

#botaoReserva{
  width: 100px;
  height: 40px;
  z-index: 2;
  font-size: 20px;
  font-family: 'GreatVibes';
  color: var(--branco);
  background-color: var(--vermelho);
  box-shadow: var(--preto) 4px 4px 0 0;
  border: none;
} /* Frame do botao de Reserva (Reserva) */

#botaoReserva:active{
  box-shadow: var(--preto) 2px 2px 0 0;
  transform: translateY(2px) translateX(2px);
} /* Animação botão Reserva (Reserva) */

#footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 5px;
  color: var(--branco);
  height:fit-content;
} /* Footer (Footer) */

.footerBoxConteudo{
  width: fit-content;
  font-family: 'Droid';
  margin: 15px 5px 15px 5px;
  line-height: 20px;
} /* Div conteudo do Footer (Footer) */

div.footerBoxConteudo h3{
  font-size: 12px;
  font-family: 'Droid';
} /* Div titulo do conteudo do Footer (Footer) */

div.footerBoxConteudo p{
  font-size: 10px;
  font-family: 'Droid';
} /* Div paragrafo do conteudo do Footer (Footer) */

.divIconsFooter{
  display: none;
} /* Div icones redes sociais do Footer (Footer) */

#footerLogo{
  height: 110px;
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 10px 0 0 5px;
} /* Div logo do site no Footer (Footer) */

.footerBoxTelefone{
  width: fit-content;
} /* Div conteudo do Footer sobre Telefone (Footer) */

.verde{
  background-color: var(--verde);
  padding: 10px;
}
.vermelho{
  background-color: var(--vermelho);
  padding: 10px;
}

 /* PÁGINA CARDAPIO.HTML*/ 


 .frameCardapioHome{
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("imagens/maincardapio.png");
  background-size: cover;
  font-family: 'GreatVibes';
 } /* Frame Inicio da página (Cardápio) */

 .frameCardapioHome h1{
  font-size: 60px;
  color: var(--branco);
 }

.containerCardapio{
  background: url(imagens/wooden-background.jpg);
  padding: 40px;
} /* Div do Frame contendo todo o conteudo*/

  .galeriaWrapper{
    overflow-x: auto;
  } /* Div da galeria de fotos*/

  .galeria{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
  } /* Div das fotos*/

 .setaDireita, .setaEsquerda {
  position: absolute;
  top: 380px;
  left: 0;
  right: auto;
  font-size: 20px;
  line-height: 550px;
  width: 70px;
  text-align: center;
  color: var(--branco);
  background: linear-gradient(to left, transparent 0%, var(--preto) 200%);
  border: none;
  opacity: 1;
  transition: all 500ms ease-in-out;
  z-index: 1;
 } /* Setas para passar fotos*/

 .setaDireita{
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 0%, var(--preto) 200%);
 }

.cardapioImgs{
  width: 300px;
  height: 450px;
  border-radius: 5px;
  flex-shrink: 0;
  opacity: 0.7;
  transition: all 500ms ease-in-out;
} /* Imagens da galeria de fotos*/

.cardapioImgs-Current{
  opacity: 1;
  box-shadow: 0 0 15px var(--preto);
} 

/* Código de remover scroll bar pego da W3schools 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

/* Esconder scrollbar do navegador Chrome, Safari e Opera */
.galeriaWrapper::-webkit-scrollbar {
  display: none;
}

/* Esconder scrollbar do navegador IE, Edge e Firefox */
.galeriaWrapper {
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}

.cardCardapio{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cardImg{
  width: 400px;
} /* Imagem do Menu a ser aberto */

.esconder{
  display: none;
}

.baixarCardapio{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} /* Div botao de baixar Cardapio em PDF */

a.cardapioPDF{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--branco);
  font-weight: 500;
  font-size: 25px;
}

.cardapioPDF{
  border-radius: 30px;
  border: none;
  height: 60px;
  width: 250px;
  background-color: var(--verde);
  font-family: 'GreatVibes';
  box-shadow: var(--preto) 4px 4px 0 0;
}/* Div botao de baixar Cardapio em PDF */

.cardapioPDF:active{
  box-shadow: var(--preto) 2px 2px 0 0;
  transform: translateY(2px) translateX(2px);
}


  /* PÁGINA RESERVA.HTML*/ 

.frameReservaHome{
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("imagens/Reserva-restaurante-vazio.png");
  background-size: cover;
  font-family: 'GreatVibes';
} /* Frame Inicio da página (Reserva) */

.frameReservaHome h1{
  font-size: 60px;

}

#frameFormulario{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} /* Frame aba de Formulário e Mapa (Reserva) */

.reservaMapa h2{
  font-family: 'GreatVibes';
  font-size: 30px;
  color: var(--branco);
  font-weight: 500;
  background-color: var(--verde);
  padding: 15px;
  border-radius: 10px;
} /* Título aba de Formulário e Mapa (Reserva) */

.reservaMapa{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
} /*Div do Frame da Localização */

.mapa{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:15px 0 15px 0;
  width: 100vw;
} /* Frame do Mapa */

iframe{
  width: 100%;
  height: 300px;
} /* Mapa incorporado */

.reservaFormulario{
  background-color: var(--verde);
  color: var(--branco);
  width: 80vw;
  margin: 30px;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.reservaFormulario h2{
  font-family: 'GreatVibes';
  font-size: 30px;
  font-weight: 500;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control, .horaSelect{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 5px;
}

form{
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.horaSelect{
  position: relative;
}

.horaSelect::after{
  font-family: 'Font Awesome 5 Free';
  content: '\f017';
  font-size: 14px;
  color: var(--preto);
  right: 8px;
  position: absolute;
  pointer-events: none;
  top: 8px;
}

input, select {
  padding: 5px;
  height: 30px;
}

select{
    appearance: none;
}

.form-control-submit{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

div.form-control-submit button{
  width: 100px;
  height: 20px;
  z-index: 2;
  font-size: 14px;
  font-family: 'Droid';
  color: var(--branco);
  background-color: var(--vermelho);
  box-shadow: var(--preto) 4px 4px 0 0;
  border: none;
} /* Frame do botao de Reserva (Reserva) */

div.form-control-submit button:active{
  box-shadow: var(--preto) 2px 2px 0 0;
transform: translateY(2px) translateX(2px);
}

.botoesSubmit{
  display: flex;
  align-items: center;
}

/* Final Mobile */


  @media only screen and (min-width: 600px) {


    .divLogo{
      justify-content: left;
      align-items: start;
  }
  
    .logo{
      width: 180px;
    }
  
    #divHeader{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      height: 80px;
      border: black 2px;
      margin: 0 60px 0 60px;
    }
  
    ul{
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    a{
      color: var(--vermelho);
    }
  
    li{
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .MenuMobile{
      display: none;
    }
  
    .MenuPc{
      display: flex;
    }
  
    .logoMenuDesktop{
      height: 80px;
    }
    
  #logoHome{
    width: 500px;
  } /* Logo do restaurante da página inicial*/
  
  #frameHome{
    height: 900px;
  } /* Página Inicial do site */
  
  #frameInicio{
    height: 400px;
    justify-content: space-around;
    margin: 0;
  } /* Frame de Inicio (Nossa Essência) */
  
  #frameInicioContent{
    width: 55vw;
    padding: 20px 80px 20px 0;
  } /* Conteudo do frame de Inicio (Nossa Essência) */
  
  h1{
    margin-bottom: 30px;
    font-size: 50px;
  } /* Titulo do frame de Inicio (Nossa Essência) */
  
  div#frameInicioContent p{
    font-size: 18px;
  } /* Paragrafo do frame de Inicio (Nossa Essência) */
  
  #bruschetta{
    width: 500px;
    top: 1050px;
    left: -60px;
  } /* Imagem do Inicio (Bruschetta) */
  
  #vinho{
    height: 500px;
    top: 1380px;
  } /* Imagem do Inicio (Vinho) */
  
  
  #frameCardapio{
    height: 500px;
  } /* Frame do Cardapio (Cardapio Executivo) */
  
  #frameCardapioConteudo{
    justify-content: space-around;
    gap: 100px;
  } /* Frame do Conteudo do Cardapio (Cardapio Executivo) */
  
  #frameCardapioTextos{
    width: 55vw;
    padding: 20px 0 20px 80px;
    height: 300px;
    justify-content: center;
  } /* Div dos textos do Conteudo do Cardapio (Cardapio Executivo) */
  
  div#frameCardapioTextos h2{
    font-size: 50px;
    margin-bottom: 30px;
  } /* Titulo do Conteudo do Cardapio (Cardapio Executivo) */
  
  div#frameCardapioTextos p{
    font-size: 18px;
  } /* Paragrafo de Conteudo do Cardapio (Cardapio Executivo) */
  
  #botaoCardapio{
    width: 200px;
    height: 80px;
    font-size: 30px;
    box-shadow: var(--preto) 8px 8px 0 0;
    cursor: pointer;
  } /* Botao para pagina de Cardapio (Cardapio Executivo) */
  
  #ravioli{
    width: 750px;
    top: 1870px;
    left: -230px;
  } /* Imagem do Inicio (Ravioli) */
  
  #frameReserva{
    height: 500px;
    align-items: stretch;
    justify-content: flex-end;
    margin: 0;
  } /* Frame de Reservas */
  
  #frameReservaConteudo{
    justify-content: center;
    gap: 70px;
  } /* Frame do Conteudo da Reserva (Reserva) */
  
  #frameReservaTexto{
    width: 55vw;
    padding: 20px 80px 20px 0;
  } /* Frame dos textos do Conteudo da Reserva (Reserva) */
  
  div#frameReservaTexto h2{
    margin-bottom: 35px;
    font-size: 50px;
  } /* Frame do titulo da Reserva (Reserva) */
  
  div#frameReservaTexto p{
    font-size: 18px;
  } /* Frame do paragrafo da Reserva (Reserva) */
  
  #botaoReserva{
    width: 200px;
    height: 80px;
    font-size: 30px;
    box-shadow: var(--preto) 8px 8px 0 0;
    cursor: pointer;
  } /* Frame do botao de Reserva (Reserva) */
  
  #footer{
    justify-content: space-evenly;
    align-items: center;
  } /* Footer (Footer) */
  
  .footerBoxConteudo{
    line-height: 30px;
  } /* Div conteudo do Footer (Footer) */
  
  div.footerBoxConteudo h3{
    font-size: 18px;
  } /* Div titulo do conteudo do Footer (Footer) */
  
  div.footerBoxConteudo p{
    font-size: 14px;
  } /* Div paragrafo do conteudo do Footer (Footer) */
  
  .divIconsFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 200px;
    margin: 10px;
  } /* Div icones redes sociais do Footer (Footer) */
  
  .iconMedia{
    width: 60px;
  }
  
  #footerLogo{
    height: fit-content;
  } /* Div logo do site no Footer (Footer) */


    /* PÁGINA RESERVA.HTML*/ 
  
    .frameReservaHome{
      height: 800px;
    } /* Frame Inicio da página (Reserva) */
    
    .frameReservaHome h1{
      font-size: 120px;
    }
    
    #frameFormulario{
      flex-direction: row;
      height: 600px;
    } /* Frame aba de Formulário e Mapa (Reserva) */
    
    .reservaMapa h2{
      font-size: 40px;
    } /* Título aba de Formulário e Mapa (Reserva) */
    
    .reservaMapa{
      margin: 30px;
      height: 550px;
      background-color: var(--vermelho);
      border-radius: 10px;
    } /*Div do Frame da Localização */
    
    .mapa{
      padding:15px;
      width: 50vw;
    } /* Frame do Mapa */
    
    iframe{
      height: 400px;
    } /* Mapa incorporado */
    
    .reservaFormulario{
      background-color: var(--vermelho);
      height: 550px;
    }
    
    .reservaFormulario h2{
      font-size: 40px;
      margin: 0;
    }
    
    .form-control, .horaSelect{
      font-size: 20px;
    }
  
    .form-control-submit{
      justify-content: space-around;
    }
    
    div.form-control-submit button{
      width: 150px;
      height: 40px;
      background-color: var(--verde);
      box-shadow: var(--preto) 5px 5px 0 0;
      cursor: pointer;
    } /* Frame do botao de Reserva (Reserva) */
    
  
  
   /* PÁGINA CARDAPIO.HTML*/ 
  
   .frameCardapioHome{
    height: 800px;
   } /* Frame Inicio da página (Cardápio) */
  
   .frameCardapioHome h1{
    font-size: 120px;
   }
  
  .containerCardapio{
    padding: 80px;
  } /* Div do Frame contendo todo o conteudo*/
  
    .galeria{
      gap: 40px;
    } /* Div das fotos*/
  
   .setaDireita, .setaEsquerda {
    top: 880px;
    width: 40px;
    cursor: pointer;
    opacity: 0.1;
   } /* Setas para passar fotos*/
  
  .setaDireita:hover, .setaEsquerda:hover {
    opacity: 1;
  } /* Efeito de passar o mouse nas setas*/
  
  .cardCardapio{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .cardImg{
    width: 80%;
  } /* Imagem do Menu a ser aberto */
  
  
  a.cardapioPDF{
    font-size: 35px;
  }
  
  .cardapioPDF{
    height: 120px;
    width: 350px;
    box-shadow: var(--preto) 8px 8px 0 0;
    cursor: pointer;
  }/* Div botao de baixar Cardapio em PDF */
  

    } /* Desktop */