*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Droid";
  src: url("DroidSerif-Regular.ttf");
}

@font-face {
  font-family: "GreatVibes";
  src: url("GreatVibes-Regular.ttf");
}

:root{
  --branco: #F1F2F1;
  --vermelho: #781D00;
  --verde: #026736;
  --preto: #000000;
}

body{
  background-color: var(--branco);
}

html{
  scroll-behavior: smooth;
}
:target{
  scroll-margin-top: .8em;
}

@media only screen and (max-width: 600px) {
  .MenuPc{
    display: none;
  } /* Barra de nav do Desktop */
.MenuMobile{
  display: block;
  display: flex;
  justify-content: right;
  align-items: end;
  flex-direction: column;
  gap: 5px;
  height: 80px;
} /* Barra de nav do Mobile */

.logo{
  width: 60px;
} /* Logo do restaurante */

.divLogo{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-right: 5px;
} /* Div da Logo e icone do Menu Mobile do restaurante */

ul  li.MenuItemMobile{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-top: var(--branco) 1px solid;
  height: 60px;
  width: 100vw;
} /* Div do Menu Mobile do restaurante */

span{
  font-size: 28px;
  position: fixed;
  top: 15px;
  right: 15px;
}

.iconMedia{
  margin: 5px;
  width: 40px;
} /* Icone redes sociais*/

#divSideMenu{
    display: none;
    position: fixed;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    gap: 20px;
    padding-top: 30px;
    background-color: var(--verde);
    transition: 0.2s ease-in-out;
} /* Div do Menu Side Bar */


a{
  text-decoration: none;
  font-family: 'GreatVibes';
  color: var(--branco);
  font-size: 30px;
} /* Link Menu */

#logoHome{
  width: 50%;
} /* Logo do restaurante da página inicial*/

.icone{
  width: 30px;
} /* Icone do Menu Mobile */

#frameHome{
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("imagens/pizzaHome.png");
  background-size: cover;
} /* Página Inicial do site */

#frameInicio{
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 15px;

} /* Frame de Inicio (Nossa Essência) */

#frameInicioContent{
  width: 65vw;
  margin: 10px 5px 10px 0;
  align-items: flex-end;
} /* Conteudo do frame de Inicio (Nossa Essência) */

h1{
  margin: 10px;
  font-family: 'GreatVibes';
  font-size: 30px;
  color: var(--preto);
  font-weight: 500;
} /* Titulo do frame de Inicio (Nossa Essência) */

div#frameInicioContent p{
  font-family: 'Droid';
  font-size: 12px;
  color: var(--preto);
} /* Paragrafo do frame de Inicio (Nossa Essência) */

#bruschetta{
  width: 230px;
  position: absolute;
  top: 510px;
  left: -60px;
  z-index: 1;
} /* Imagem do Inicio (Bruschetta) */

#vinho{
  height: 220px;
  position: absolute;
  top: 735px;
  right: 0;
  z-index: 1;
} /* Imagem do Inicio (Vinho) */


#frameCardapio{
  background-color: var(--vermelho);
  height: 400px;
  display: flex;
  align-items: center;
} /* Frame do Cardapio (Cardapio Executivo) */

#frameCardapioConteudo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
} /* Frame do Conteudo do Cardapio (Cardapio Executivo) */

#frameCardapioTextos{
  width: 60vw;
  height: 150px;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  margin: 10px 0 10px 10px;;
} /* Div dos textos do Conteudo do Cardapio (Cardapio Executivo) */

div#frameCardapioTextos h2{
  font-family: 'GreatVibes';
  font-size: 30px;
  color: var(--branco);
  font-weight: 500;
  width: fit-content;
  margin: 10px;
} /* Titulo do Conteudo do Cardapio (Cardapio Executivo) */

div#frameCardapioTextos p{
  font-family: 'Droid';
  font-size: 12px;
  color: var(--branco);
} /* Paragrafo de Conteudo do Cardapio (Cardapio Executivo) */

#botaoCardapio{
  width: 100px;
  height: 40px;
  z-index: 2;
  font-size: 20px;
  font-family: 'GreatVibes';
  color: var(--branco);
  background-color: var(--verde);
  box-shadow: var(--preto) 4px 4px 0 0;
  border: none;
} /* Botao para pagina de Cardapio (Cardapio Executivo) */

#botaoCardapio:active{
  box-shadow: var(--preto) 2px 2px 0 0;
  transform: translateY(2px) translateX(2px);
} /* Animação botão Cardapio (Cardapio Executivo) */

#ravioli{
  width: 360px;
  position: absolute;
  top: 880px;
  left: -120px;
  z-index: 1;
} /* Imagem do Inicio (Ravioli) */

#frameReserva{
  height: 260px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: right;
  margin-bottom: 15px;
} /* Frame de Reservas */

#frameReservaConteudo{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 15px;
} /* Frame do Conteudo da Reserva (Reserva) */

#frameReservaTexto{
  width: 65vw;
  display: flex;
  justify-content: right;
  align-items: start;
  flex-direction: column;
  margin: 10px 5px 10px 0;
} /* Frame dos textos do Conteudo da Reserva (Reserva) */

div#frameReservaTexto h2{
  margin: 10px;
  font-family: 'GreatVibes';
  font-size: 30px;
  color: var(--preto);
  font-weight: 500;
} /* Frame do titulo da Reserva (Reserva) */

div#frameReservaTexto p{
  font-family: 'Droid';
  font-size: 12px;
  color: var(--preto);
} /* Frame do paragrafo da Reserva (Reserva) */

#botaoReserva{
  width: 100px;
  height: 40px;
  z-index: 2;
  font-size: 20px;
  font-family: 'GreatVibes';
  color: var(--branco);
  background-color: var(--vermelho);
  box-shadow: var(--preto) 4px 4px 0 0;
  border: none;
} /* Frame do botao de Reserva (Reserva) */

#botaoReserva:active{
  box-shadow: var(--preto) 2px 2px 0 0;
  transform: translateY(2px) translateX(2px);
} /* Animação botão Reserva (Reserva) */

#footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 5px;
  color: var(--branco);
  height:fit-content;
} /* Footer (Footer) */

.footerBoxConteudo{
  width: fit-content;
  font-family: 'Droid';
  margin: 15px 5px 15px 5px;
  line-height: 20px;
} /* Div conteudo do Footer (Footer) */

div.footerBoxConteudo h3{
  font-size: 12px;
  font-family: 'Droid';
} /* Div titulo do conteudo do Footer (Footer) */

div.footerBoxConteudo p{
  font-size: 10px;
  font-family: 'Droid';
} /* Div paragrafo do conteudo do Footer (Footer) */

.divIconsFooter{
  display: none;
} /* Div icones redes sociais do Footer (Footer) */

#footerLogo{
  height: 110px;
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 10px 0 0 5px;
} /* Div logo do site no Footer (Footer) */

.footerBoxTelefone{
  width: fit-content;
} /* Div conteudo do Footer sobre Telefone (Footer) */

.verde{
  background-color: var(--verde);
}
.vermelho{
  background-color: var(--vermelho);
}

 /* PÁGINA CARDAPIO.HTML*/ 


  /* PÁGINA RESERVA.HTML*/ 

.frameReservaHome{
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("imagens/beige-wooden-textured-flooring-background.jpg");
  background-size: cover;
  font-family: 'GreatVibes';
} /* Frame Inicio da página (Reserva) */

.frameReservaHome h1{
  font-size: 60px;
}

#frameFormulario{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} /* Frame aba de Formulário e Mapa (Reserva) */

#frameFormulario h2{
  font-family: 'GreatVibes';
  font-size: 30px;
  color: var(--preto);
  font-weight: 500;
  margin: 15px;
} /* Título aba de Formulário e Mapa (Reserva) */

.reservaMapa{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} /*Div do Frame da Localização */

.mapa{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:15px 0 15px 0;
  width: 100vw;
} /* Frame do Mapa */

iframe{
  width: 100%;
  height: 300px;
} /* Mapa incorporado */


  }/* Mobile */

  @media only screen and (min-width: 600px) {

.divLogo{
  display: flex;
    justify-content: left;
    align-items: left;
}

  .logo{
    width: 180px;
  }

  #divHeader{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80px;
    border: black 2px;
  }

  ul{
    list-style-type: none;
  }

  .MenuMobile{
    display: none;
  }

  .MenuPc{
    display: block;
  }

  
#logoHome{
  width: 40%;
} /* Logo do restaurante da página inicial*/

#frameHome{
  height: 700px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("imagens/pizzaHome.png");
  background-size: cover;
} /* Página Inicial do site */

#frameInicio{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  margin-bottom: 15px;
} /* Frame de Inicio (Nossa Essência) */

#frameInicioContent{
  width: 50vw;
  margin: 20px 35px 20px 0;
} /* Conteudo do frame de Inicio (Nossa Essência) */

h1{
  margin-bottom: 30px;
  font-family: 'GreatVibes';
  font-size: 60px;
  color: var(--preto);
  font-weight: 500;
} /* Titulo do frame de Inicio (Nossa Essência) */

div#frameInicioContent p{
  font-family: 'Droid';
  font-size: 18px;
  color: var(--preto);
} /* Paragrafo do frame de Inicio (Nossa Essência) */

#bruschetta{
  width: 500px;
  position: absolute;
  top: 850px;
  left: -60px;
  z-index: 1;
} /* Imagem do Inicio (Bruschetta) */

#vinho{
  height: 500px;
  position: absolute;
  top: 1095px;
  right: 0;
  z-index: 1;
} /* Imagem do Inicio (Vinho) */


#frameCardapio{
  background-color: var(--vermelho);
  height: 500px;
  display: flex;
  align-items: center;
} /* Frame do Cardapio (Cardapio Executivo) */

#frameCardapioConteudo{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
} /* Frame do Conteudo do Cardapio (Cardapio Executivo) */

#frameCardapioTextos{
  width: 50vw;
  margin: 20px 0 20px 80px;
  height: 300px;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
} /* Div dos textos do Conteudo do Cardapio (Cardapio Executivo) */

div#frameCardapioTextos h2{
  font-family: 'GreatVibes';
  font-size: 60px;
  color: var(--branco);
  font-weight: 500;
  width: fit-content;
  margin-bottom: 30px;
} /* Titulo do Conteudo do Cardapio (Cardapio Executivo) */

div#frameCardapioTextos p{
  font-family: 'Droid';
  font-size: 18px;
  color: var(--branco);
} /* Paragrafo de Conteudo do Cardapio (Cardapio Executivo) */

#botaoCardapio{
  width: 200px;
  height: 80px;
  z-index: 2;
  font-size: 35px;
  font-family: 'GreatVibes';
  color: var(--branco);
  background-color: var(--verde);
  box-shadow: var(--preto) 8px 8px 0 0;
  border: none;
} /* Botao para pagina de Cardapio (Cardapio Executivo) */

#botaoCardapio:active{
  box-shadow: var(--preto) 2px 2px 0 0;
  transform: translateY(2px) translateX(2px);
} /* Animação botão Cardapio (Cardapio Executivo) */

#ravioli{
  height: 500px;
  position: absolute;
  top: 1500px;
  left: -250px;
  z-index: 1;
} /* Imagem do Inicio (Ravioli) */

#frameReserva{
  height: 380px;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
} /* Frame de Reservas */

#frameReservaConteudo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
} /* Frame do Conteudo da Reserva (Reserva) */

#frameReservaTexto{
  display: flex;
  justify-content: right;
  align-items: start;
  width: 50vw;
  flex-direction: column;
  margin: 20px 40px 20px 0;
} /* Frame dos textos do Conteudo da Reserva (Reserva) */

div#frameReservaTexto h2{
  margin-bottom: 35px;
  font-family: 'GreatVibes';
  font-size: 60px;
  color: var(--preto);
  font-weight: 500;
} /* Frame do titulo da Reserva (Reserva) */

div#frameReservaTexto p{
  font-family: 'Droid';
  font-size: 18px;
  color: var(--preto);
} /* Frame do paragrafo da Reserva (Reserva) */

#botaoReserva{
  width: 200px;
  height: 80px;
  z-index: 2;
  font-size: 35px;
  font-family: 'GreatVibes';
  color: var(--branco);
  background-color: var(--vermelho);
  box-shadow: var(--preto) 8px 8px 0 0;
  border: none;
} /* Frame do botao de Reserva (Reserva) */

#botaoReserva:active{
  box-shadow: var(--preto) 2px 2px 0 0;
  transform: translateY(2px) translateX(2px);
} /* Animação botão Reserva (Reserva) */



#footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--branco);
  height:fit-content;
} /* Footer (Footer) */

.footerBoxConteudo{
  width: fit-content;
  font-family: 'Droid';
  margin-bottom: 20px;
  line-height: 30px;
} /* Div conteudo do Footer (Footer) */

div.footerBoxConteudo h3{
  font-size: 20px;
  font-family: 'Droid';
  margin-top: 20px;
} /* Div titulo do conteudo do Footer (Footer) */

div.footerBoxConteudo p{
  font-size: 14px;
  font-family: 'Droid';
} /* Div paragrafo do conteudo do Footer (Footer) */

.divIconsFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 200px;
  margin: 10px;
} /* Div icones redes sociais do Footer (Footer) */

.iconMedia{
  height: 60px;
}

.footerBoxTelefone{
  width: fit-content;
} /* Div conteudo do Footer sobre Telefone (Footer) */

.verde{
  background-color: var(--verde);
}
.vermelho{
  background-color: var(--vermelho);
}


    } /* Desktop */